@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --color-regal-blue: #243c5a; 
  }

@theme {
    --font-roboto: "Roboto", sans-serif; 
    --color-sunshine: #ffda1c; 
    --color-bluebell: #b3d1e7;
    --color-navy: #012a57;
    --color-rice: #f9faf3;
}
/* 
:root {
    --font-roboto: "Roboto", sans-serif;
    --color-sunshine: #ffda1c;
    --color-bluebell: #b3d1e7;
    --color-navy: #012a57;
    --color-rice: #f9faf3;
} */


